<div>
	<h4>

		<f:if condition="{settings.domain}==0">{categories.name}</f:if>

		<f:if condition="{settings.domain}==1">
			<f:if condition="{categories.cattype}==0">
				<f:link.page pageUid="348" additionalParams="{tx_rathgeberproducts_categories: {catid: categories.uid }}">{categories.name}</f:link.page>
			</f:if>
			<f:if condition="{categories.cattype}==1">
				<f:link.page pageUid="182" additionalParams="{tx_rathgeberproducts_categories: {catid: categories.uid }}">{categories.name}</f:link.page>
			</f:if>
            <f:if condition="{categories.cattype}==2">
				<f:link.page pageUid="602" additionalParams="{tx_rathgeberproducts_categories: {catid: categories.uid }}">{categories.name}</f:link.page>
			</f:if>
            <f:if condition="{categories.cattype}==3">
				<f:link.page pageUid="600" additionalParams="{tx_rathgeberproducts_categories: {catid: categories.uid }}">{categories.name}</f:link.page>
			</f:if>
		</f:if>
	</h4>
	<f:for each="{products}" as="product">
		<div class="text-item-link">
			<f:if condition="{categories.cattype}==0">
				<f:link.page pageUid="{settings.detailpage_id_product}" additionalParams="{tx_rathgeberproducts_products: {productid: product.uid }}" id="catpreview-link-{categories.cattype}-{categories.uid}-{product.uid}">
					&gt; <f:format.raw>{product.name}</f:format.raw>
				</f:link.page>
			</f:if>
			<f:if condition="{categories.cattype}==1">
				<f:link.page pageUid="{settings.detailpage_id_application}" additionalParams="{tx_rathgeberproducts_applications: {appid: product.uid }}" id="catpreview-link-{categories.cattype}-{categories.uid}-{product.uid}">
					&gt; <f:format.raw>{product.name}</f:format.raw>
				</f:link.page>
			</f:if>
            <f:if condition="{categories.cattype}==2">
				<f:link.page pageUid="{settings.detailpage_id_product}" additionalParams="{tx_rathgeberproducts_products: {productid: product.uid }}" id="catpreview-link-{categories.cattype}-{categories.uid}-{product.uid}">
					&gt; <f:format.raw>{product.name}</f:format.raw>
				</f:link.page>
			</f:if>
			<f:if condition="{categories.cattype}==3">
				<f:link.page pageUid="{settings.detailpage_id_application}" additionalParams="{tx_rathgeberproducts_applications: {appid: product.uid }}" id="catpreview-link-{categories.cattype}-{categories.uid}-{product.uid}">
					&gt; <f:format.raw>{product.name}</f:format.raw>
				</f:link.page>
			</f:if>
		</div>
		<div class="clear"></div>
	</f:for>
</div>