<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">
    <f:flashMessages/>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="gallery-row row">
                <div class="gallery-item col-xs-12">
                    <figure class="image">
                        <f:comment><!--<a href="/fileadmin/_processed_/3/7/csm_turnierpaar-kuchenbecker_05286f085d.jpg"
                           title="" data-lightbox-caption=""
                           class="lightbox"
                           data-lightbox-width="300" data-lightbox-height="300"
                           rel="lightbox-group-199">
                            <img src="/fileadmin/_processed_/3/7/csm_turnierpaar-kuchenbecker_045c0bd231.jpg"
                                 data-src="/fileadmin/_processed_/3/7/csm_turnierpaar-kuchenbecker_ea4dc11757.jpg"
                                 data-large="/fileadmin/_processed_/3/7/csm_turnierpaar-kuchenbecker_045c0bd231.jpg"
                                 data-medium="/fileadmin/swrt/images/inhalte/paare/turnierpaar-kuchenbecker.jpg"
                                 data-small="/fileadmin/swrt/images/inhalte/paare/turnierpaar-kuchenbecker.jpg"
                                 data-extrasmall="/fileadmin/swrt/images/inhalte/paare/turnierpaar-kuchenbecker.jpg"
                                 title="" alt=""
                                 class="lazyload" data-preload="false"
                                 style="opacity: 1;">
                            <noscript>
                                <img src="/fileadmin/_processed_/3/7/csm_turnierpaar-kuchenbecker_ea4dc11757.jpg"
                                     title="" alt=""/>
                            </noscript>
                        </a>--></f:comment>
                        <f:render partial="Image"
                                  arguments="{file: couple.image, settings: settings, class: 'card-img-top img-responsive'}"/>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <header>
                <h1 class="element-header text-center">
                    {couple.coupleName}
                </h1>
            </header>
            <f:format.html>{couple.description}</f:format.html>
        </div>
        <!--<f:if condition="{results}">-->
        <div class="col-xs-12">
            <div class="table-responsive">
                <f:variable name="displayMobile" value="hidden-md hidden-lg"/>
                <f:variable name="displayDesktop" value="hidden-xs hidden-sm"/>

                <f:variable name="prevResult" value=""/>
                    <f:for each="{results}" as="result" key="itemkey"
                           reverse="false" iteration="iterator">

                        <f:variable name="competition" value="{result.competition.0}"/>
                        <f:variable name="competitionType" value="{result.competitionType.0}"/>

                        <f:if condition="{iterator.isFirst}">
                            <table class="table table-condensed table-striped">
                                <caption>Turnierergebnisse <f:translate key="LLL:EXT:couple_manager/Resources/Private/Language/locallang.xlf:{result.discipline}" /></caption>
                                <f:render partial="Result/TableHeader"/>
                                <tbody>
                        </f:if>
                        <f:if condition="{prevResult.discipline} && {result.discipline} != {prevResult.discipline}">
                                </tbody>
                            </table>
                            <table class="table table-condensed table-striped">
                                <caption>Turnierergebnisse <f:translate key="LLL:EXT:couple_manager/Resources/Private/Language/locallang.xlf:{result.discipline}" /></caption>
                                <f:render partial="Result/TableHeader"/>
                                <tbody>
                        </f:if>

                        <tr class="{f:if(condition: result.promotion, then: 'success', else: '')}">
                            <td>
                                <f:format.date format="%d.%m.%Y">{result.date}</f:format.date>
                                <f:if condition="{result.promotion}"><br />Aufstieg</f:if>
                            </td>
                            <td class="col-xs-4">
                                <f:variable name="popoverTitle" value="Veranstalter"/>
                                <f:variable name="popoverText" value="TC Schwarz-Weiss Reutlingen"/>
                                <f:if condition="{competition.title} && {competition.title} != '///---///' && {competitionType.name} != {competition.title}">
                                    <f:variable name="popoverTitle" value="Turnierart / Veranstalter"/>
                                    <f:variable name="popoverText" value="{competitionType.name} <br/>"/>
                                </f:if>
                                <a tabindex="0" data-toggle="popover" data-placement="top" data-trigger="hover"
                                   data-container="body" data-html="true"
                                   title="{popoverTitle}"
                                   data-content="{popoverText} <em>{f:if(condition: i.isLast, then: '{organizer.name}', else: '{organizer.name},<br/>')->f:for(each:competition.organizer, as:'organizer', iteration: 'i')}</em>"
                                >
                                    <f:if condition="{competition.title} && {competition.title} != '///---///' && {competitionType.name} != {competition.title}">
                                        <f:then>
                                            <span>{competition.title}</span>
                                        </f:then>
                                        <f:else>
                                            <span>{competitionType.name}</span>
                                        </f:else>
                                    </f:if>
                                    <span class="{displayMobile}"><br/>{competition.city}</span>
                                </a>
                            </td>
                            <td class="{displayDesktop}">
                                {competition.city}
                            </td>
                            <td class="text-nowrap">
                                <f:translate key="LLL:EXT:couple_manager/Resources/Private/Language/locallang.xlf:short.{result.startingGroup}" />
                                <f:format.case mode="upper">{result.startingClass}</f:format.case>
                                <span class="{displayMobile} text-right"><br/>
                                    {result.position}/{result.participantCount}
                                </span>
                            </td>
                            <td class="{displayDesktop} text-right">
                                {result.position}
                            </td>
                            <td class="{displayDesktop} text-right">
                                {result.participantCount}
                            </td>
                        </tr>
                        <f:variable name="prevResult" value="{result}"/>
                    </f:for>
                    </tbody>
                </table>
            </div>
        </div>

        <!--</f:if>-->
    </div>
</f:section>
</html>