<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">
    <f:flashMessages/>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="gallery-row row">
                <div class="gallery-item col-xs-12">
                    <figure class="image">
                        <!--<a href="/fileadmin/_processed_/3/7/csm_turnierpaar-kuchenbecker_05286f085d.jpg"
                           title="" data-lightbox-caption=""
                           class="lightbox"
                           data-lightbox-width="300" data-lightbox-height="300"
                           rel="lightbox-group-199">
                            <img src="/fileadmin/_processed_/3/7/csm_turnierpaar-kuchenbecker_045c0bd231.jpg"
                                 data-src="/fileadmin/_processed_/3/7/csm_turnierpaar-kuchenbecker_ea4dc11757.jpg"
                                 data-large="/fileadmin/_processed_/3/7/csm_turnierpaar-kuchenbecker_045c0bd231.jpg"
                                 data-medium="/fileadmin/swrt/images/inhalte/paare/turnierpaar-kuchenbecker.jpg"
                                 data-small="/fileadmin/swrt/images/inhalte/paare/turnierpaar-kuchenbecker.jpg"
                                 data-extrasmall="/fileadmin/swrt/images/inhalte/paare/turnierpaar-kuchenbecker.jpg"
                                 title="" alt=""
                                 class="lazyload" data-preload="false"
                                 style="opacity: 1;">
                            <noscript>
                                <img src="/fileadmin/_processed_/3/7/csm_turnierpaar-kuchenbecker_ea4dc11757.jpg"
                                     title="" alt=""/>
                            </noscript>
                        </a>-->
                        <f:render partial="Image"
                                  arguments="{file: couple.image, settings: settings, class: 'card-img-top img-responsive'}"/>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <header>
                <h1 class="element-header text-center">
                    {couple.coupleName}
                </h1>
            </header>
            <f:format.html>{couple.description}</f:format.html>
        </div>
        <!--<f:if condition="{results}">-->
        <div class="col-xs-12">
            <div class="table-responsive">
                    <f:variable name="prevResult" value=""/>
                    <f:for each="{results}" as="result" key="itemkey"
                           reverse="false" iteration="iterator">

                        <f:variable name="competition" value="{result.competition.0}"/>
                        <f:variable name="competitionType" value="{result.competitionType.0}"/>

                        <f:if condition="{iterator.isFirst}">
                            <table class="table table-condensed table-bordered table-striped">
                                <caption>Turnierergebnisse {result.discipline}</caption>
                                <f:render partial="Result/TableHeader"/>
                                <tbody>
                        </f:if>
                        <f:if condition="{result.discipline} != {prevResult.discipline}">
                                </tbody>
                            </table>
                            <table class="table table-condensed table-bordered table-striped">
                                <caption>Turnierergebnisse {result.discipline}</caption>
                                <f:render partial="Result/TableHeader"/>
                                <tbody>
                        </f:if>

                        <tr class="{f:if(condition: result.promotion, then: 'success', else: '')}">
                            <td>
                                <f:format.date format="%d.%m.%Y">{result.date}</f:format.date>
                                <f:if condition="{result.promotion}"><br />Aufstieg</f:if>
                            </td>
                            <td>
                                <f:if condition="{competition.title} && {competitionType.name} != {competition.title}">
                                    <span>{competition.title}</span><br/>
                                </f:if>
                                <em>{competitionType.name}</em>
                            </td>
                            <td>
                                {competition.organizer}
                                <br/>TC Schwarz-Weiss Reutlingen
                            </td>
                            <td>
                                {competition.city}
                            </td>
                            <td>
                                {result.startingGroup} {result.startingClass} {result.discipline}
                                <br/><i>HGR B Std</i>
                            </td>
                            <td class="hidden-md hidden-lg">
                                {result.position}/{result.participantCount}
                            </td>
                            <td class="hidden-xs hidden-sm">
                                {result.position}
                            </td>
                            <td class="hidden-xs hidden-sm">
                                {result.participantCount}
                            </td>
                        </tr>
                        <f:variable name="prevResult" value="{result}"/>
                    </f:for>
                    </tbody>
                </table>
            </div>
        </div>

        <!--</f:if>-->
    </div>
</f:section>
</html>