<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="main">
    <f:if condition="{couples}">
        <div class="thumbnail-menu">
            <f:for each="{couples}" as="couple">
                <f:link.action action="show" arguments="{couple : couple}" title="{couple.coupleName}"
                               class="thumbnail-menu-item">
                    <div class="thumbnail-menu-image">
                        <f:if condition="{couple.image}">
                            <f:media file="{couple.image}" width="{settings.menuthumbnail.media.width}"
                                     height="{settings.menuthumbnail.media.height}"/>
                        </f:if>
                    </div>
                    <div class="thumbnail-menu-caption">
                        <f:if condition="{couple.coupleName}">
                            <h3 class="thumbnail-menu-caption-title">
                                <f:format.crop maxCharacters="100">{couple.coupleName}</f:format.crop>
                            </h3>
                        </f:if>
                        <f:debug title="startingGroup">{couple.startingGroup}</f:debug>
                        <f:if condition="{couple.startingGroup}">
                            <p class="thumbnail-menu-caption-abstract">Startgruppe: {couple.startingGroup}</p>
                        </f:if>
                        <f:debug title="startingClassLatin">{couple.startingClassLatin}</f:debug>
                        <f:if condition="{couple.startingClassLatin}">
                            <p class="thumbnail-menu-caption-abstract">Latein: {couple.startingClassLatin}</p>
                        </f:if>
                        <f:debug title="startingClassStandard">{couple.startingClassStandard}</f:debug>
                        <f:if condition="{couple.startingClassStandard}">
                            <p class="thumbnail-menu-caption-abstract">Standard: {couple.startingClassStandard}</p>
                        </f:if>
                    </div>
                </f:link.action>


            </f:for>
        </div>
    </f:if>

</f:section>
</html>
