<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">
    <f:flashMessages/>
    <f:if condition="{couples}">
        <div class="card-deck list row">
            <f:for each="{couples}" as="couple">
                <div class="card col-md-3 {f:if(condition:'{couple.activeCouple} != 1',then:'not-active',else:'active')}">
                    <f:if condition="{couple.image}">
                        <f:media file="{couple.image}" width="{settings.menuthumbnail.media.width}"
                                 height="{settings.menuthumbnail.media.height}" class="card-img-top img-responsive"/>
                    </f:if>
                    <div class="card-body">
                        <f:if condition="{couple.coupleName}">
                            <h3 class="card-title">
                                <f:format.crop maxCharacters="100">{couple.coupleName}</f:format.crop>
                            </h3>
                        </f:if>
                        <p class="card-text">
                            <f:if condition="{couple.startingClassStandard}">
                                Standard:
                                <f:if condition="{couple.startingGroup}">
                                    {f:translate(key: couple.startingGroup, extensionName: 'couple_manager')}
                                </f:if>
                                <f:format.case mode="upper">{couple.startingClassStandard}</f:format.case>
                                <br/>
                            </f:if>
                            <f:if condition="{couple.startingClassLatin}">
                                Latein:
                                <f:if condition="{couple.startingGroup}">
                                    {f:translate(key: couple.startingGroup, extensionName: 'couple_manager')}
                                </f:if>
                                <f:format.case mode="upper">{couple.startingClassLatin}</f:format.case>
                                <br/>
                            </f:if>
                        </p>
                    </div>
                    <div class="card-footer">
                        <f:link.action pageUid="{settings.list.detailView}" controller="Couple" action="detail"
                                       arguments="{couple : couple}" title="Zur Seite von {couple.coupleName}"
                                       class="btn btn-primary">weiter
                        </f:link.action>
                        <f:if condition="{couple.activeCouple} != 1">
                            <span class="label label-primary">nicht mehr<br/>für uns aktiv</span>
                        </f:if>
                    </div>
                </div>
            </f:for>
        </div>
    </f:if>
</f:section>
</html>
