<f:if condition="{javascript}">
	<f:then>
		<script type="text/javascript">
			jQuery(function ($)	{
				$("div.change-view-tile").click(function()
				{
					$("#categories-tiles").css("display", "block");
					$("#categories-list").css("display", "none");
					$(".change-view-tile").css("background-position", "-144px -87px");
					$(".change-view-list").css("background-position", "-105px -87px");
				});
				$("div.change-view-list").click(function()
				{
					$("#categories-tiles").css("display", "none");
					$("#categories-list").css("display", "block");
					$(".change-view-tile").css("background-position", "-133px -87px");
					$(".change-view-list").css("background-position", "-119px -87px");
				});
			}); 
		</script>
	</f:then>
	<f:else>
		<script type="text/javascript">
			jQuery(function ($)	{
				$("div.change-view-tile").click(function()
				{
					$("#categories-tiles").css("display", "block");
					$("#categories-list").css("display", "none");
					$(".change-view-tile").css("background-position", "-280px -31px");
					$(".change-view-list").css("background-position", "-241px -31px");
				});
				$("div.change-view-list").click(function()
				{
					$("#categories-tiles").css("display", "none");
					$("#categories-list").css("display", "block");
					$(".change-view-tile").css("background-position", "-269px -31px");
					$(".change-view-list").css("background-position", "-255px -31px");
				});
			}); 
		</script>
	</f:else>
</f:if>

<div id="categories-headline">
	<h1><f:translate key="LLL:EXT:rathgeber_products/Resources/Private/Language/locallang_fluid.xml:tx_rathgeberproducts_template.products" />
		<div class="change-view">
			<div class="change-view-tile">
				&nbsp;
			</div>
			<div class="change-view-list">
				&nbsp;
			</div>
		</div>
	</h1>
</div>

<f:for each="{products}" as="product">
</f:for>

<div id="categories-tiles">
	<div style="overflow:hidden;">
		<f:if condition="{products}">
			<f:then>
				<f:for each="{products}" as="product">
					<div class="category-tiled-img">
										<f:link.page pageUid="{settings.detailpage_id}" additionalParams="{tx_rathgeberproducts_products: {productid: product.uid }}">
					<div class="category-tiled-label">
						<f:if condition="{product.short}">
							<f:then>
								{product.short}
							</f:then>
							<f:else>
								{product.name}
							</f:else>
						</f:if>
					</div>
					<f:if condition="{product.catpreview}">
						<f:then>
							<f:image src="uploads/products/pics/{product.catpreview}" width="188" height="124" alt="{product.name}" />
						</f:then>
						<f:else>
							<f:image src="uploads/products/pics/_blank.jpg" width="188" height="124" alt="{product.name}" />
						</f:else>
					</f:if>
					<!--<f:image src="fileadmin/user_upload/products/pics/{product.catpreview}" width="188" height="124" alt="{product.name}" />-->
				</f:link.page>
					</div>
				</f:for>
			</f:then>
			<f:else>
				<div class="filter-not-found"><f:translate key="LLL:EXT:rathgeber_products/Resources/Private/Language/locallang_fluid.xml:tx_rathgeberproducts_template.filterempty" /></div>
			</f:else>
		</f:if>
	</div>
</div>

<div id="categories-list">
	<f:if condition="{products}">
		<f:then>
			<f:for each="{products}" as="product" key="i">
				<f:if condition="{i} == 0">
					<f:then><hr class="divider" style="height:0px;" /></f:then>
					<f:else><hr class="divider" /></f:else>
				</f:if>
				<div class="text-item">
					{product.name}
				</div>
				<div class="text-item-link">
					<f:link.page pageUid="{settings.detailpage_id}" additionalParams="{tx_rathgeberproducts_products: {productid: product.uid }}">
						>>
						<f:translate key="LLL:EXT:rathgeber_products/Resources/Private/Language/locallang_fluid.xml:tx_rathgeberproducts_template.view" />
					</f:link.page>
				</div>
			</f:for>
		</f:then>
		<f:else>
			<div class="filter-not-found"><f:translate key="LLL:EXT:rathgeber_products/Resources/Private/Language/locallang_fluid.xml:tx_rathgeberproducts_template.filterempty" /></div>
		</f:else>
	</f:if>		
	<div class="clear"></div>
</div>
