
<f:if condition="{job}">
    <f:then>
        <div class="job-details">
            <div class="green">
                <div class="container">
                    <div class="green">
                        <div class="row job-header">
                            {job.headline}
                            <h2>{job.title}</h2>
                        </div>
                        <div class="job-description">
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <hr/>
                                    <h4>
                                        <f:render partial="Sections/TranslateByJobType" arguments="{job: job, transType: 'your_responsibilities'}" />
                                    </h4>
                                    <hr/>
                                    <div>
                                        {job.tasks}
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <hr/>
                                    <h4>
                                        <f:render partial="Sections/TranslateByJobType" arguments="{job: job, transType: 'your_skills'}" />
                                    </h4>
                                    <hr/>
                                    <div>
                                        {job.profile}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="white">
                    <div class="container">
                        <div class="row">
                            <f:if condition="{job.areaOfExpertise} == 'Ausbildung'">
                                <f:if condition="{job.scopeOfTraining}">
                                    <div class="col-xs-12 job-scopeOfTraining">
                                        <h6>
                                            <f:render partial="Sections/TranslateByJobType" arguments="{job: job, transType: 'scope_of_training'}" />
                                        </h6>
                                        <p>{job.scopeOfTraining}</p>
                                    </div>
                                </f:if>
                            </f:if>
                            <f:if condition="{job.benefits}">
                                <div class="col-xs-12 job-benefits">
                                    <h6>
                                        <f:render partial="Sections/TranslateByJobType" arguments="{job: job, transType: 'benefits'}" />
                                    </h6>
                                    <p>{job.benefits}</p>
                                </div>
                            </f:if>
                            <div class="col-xs-12 job-apply-now">
                                <f:if condition="{job.closingText}">
                                    <h6>
                                        <f:render partial="Sections/TranslateByJobType" arguments="{job: job, transType: 'interested'}" />
                                    </h6>
                                    <p>{job.closingText}</p>
                                </f:if>
                                <f:link.external uri="{job.link}" target="_blank" class="btn btn-primary btn-large">
                                    <f:translate key="tx_erbejobs_domain_model_job.apply_now"/>
                                </f:link.external>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </f:then>
</f:if>
