<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-couple-manager" >
	<tr>
		<td>
			<f:translate key="tx_couplemanager_domain_model_competition.title" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_couplemanager_domain_model_competition.date_start" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_couplemanager_domain_model_competition.date_end" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_couplemanager_domain_model_competition.country" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_couplemanager_domain_model_competition.city" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_couplemanager_domain_model_competition.address" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_couplemanager_domain_model_competition.organizer" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_couplemanager_domain_model_competition.size_dance_floor" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>