<div class="megamenu-image">
	<script type="text/javascript">
		jQuery(function(){
			current_nav = null;
			// RATHGEBER
			$('#main-nav-83').hover(function(){
				$('#catpreview-image-1-7-21').show();
				current_nav = 'main-nav-83';
			});
			$('#main-nav-84').hover(function(){
				$('#catpreview-image-0-1-1').show();
				current_nav = 'main-nav-84';
			});
			// SMART-TEC
			$('#main-nav-163').hover(function(){
				$('#catpreview-image-1-27-96').show();
				current_nav = 'main-nav-83';
			});
			$('#main-nav-165').hover(function(){
				$('#catpreview-image-0-35-198').show();
				current_nav = 'main-nav-84';
			});
            $('#main-nav-598').hover(function(){
                $('#catpreview-image-3-22304-325').show();
                current_nav = 'main-nav-163';
            });
            $('#main-nav-599').hover(function(){
                $('#catpreview-image-2-22340-231').show();
                current_nav = 'main-nav-165';
            });
		});
	</script>
	<f:for each="{products}" as="product">
		<div id="catpreview-image-{product.cattype}-{product.catid}-{product.uid}" class="megamenu-image-container">
			<f:image src="uploads/products/pics/{product.catpreview}" class="megamenu-image-p megamenu-image-p{product.uid}" width="188" height="124" alt="{product.name}" />
			<script type="text/javascript">
				jQuery(function(){
					$('#catpreview-link-{product.cattype}-{product.catid}-{product.uid}').hover(function(){
						if (current_nav == 'main-nav-83') {
							$('#catpreview-image-1-7-21').hide();
						}
						if (current_nav == 'main-nav-84') {
							$('#catpreview-image-0-1-1').hide();
						}
						if (current_nav == 'main-nav-163') {
							$('#catpreview-image-1-27-96').hide();
						}
						if (current_nav == 'main-nav-165') {
							$('#catpreview-image-0-35-198').hide();
                        }
						$("#catpreview-image-{product.cattype}-{product.catid}-{product.uid}").fadeIn(200);
					}, function(){
						$("#catpreview-image-{product.cattype}-{product.catid}-{product.uid}").fadeOut(100);
					});
				});
			</script>
		</div>
	</f:for> 
</div>
