<div class="slideshow-products">
    <!-- <div class="slides_container"> -->
    <div id="slider">
        <f:for each="{slider}" as="slide" iteration="i" key="j">
           <f:image src="uploads/slideshow/pics/{slide.0}" width="568" height="375" alt="{slide.1}" title="{slide.1}" additionalAttributes="{caption:'#slideshow-{j}'}"/>

        </f:for>
    </div>
    <a class="navPrev" onclick="Slide.To(1);"></a>
    <a class="navNext" onclick="Slide.To(0);"></a>
    <div class="slider-active">&nbsp;</div>
    <div id="slider-caption" style="display: none;">
        <f:for each="{imagecaption}" as="text" key="i">
            <div id="slideshow-{i}">{text}</div>
        </f:for>
    </div>
</div>
</div>
<div id="products-thumbs" class="standard-box center">
	<f:if condition="{products.motherthumbsheadline}">
		<f:then>
			<h1>{applications.motherthumbsheadline}<span class="slideshow-counter">({slide_count})</span></h1>
		</f:then>
		<f:else>
			<h1>{applications.thumbsheadline}<span class="slideshow-counter">({slide_count})</span></h1>
		</f:else>
	</f:if>
	<div id="mcts1">
		<f:for each="{thumbs}" as="thumb" iteration="i">
			<f:image src="uploads/slideshow/pics/{thumb}" width="100" height="75" alt="{slide_count}{f:translate(key:'LLL:EXT:rathgeber_products/Resources/Private/Language/locallang_fluid.xml:tx_rathgeberproducts_template.appmore')}{applications.name}" title="{slide_count}{f:translate(key:'LLL:EXT:rathgeber_products/Resources/Private/Language/locallang_fluid.xml:tx_rathgeberproducts_template.appmore')}{applications.name}" />
		</f:for>
	</div>
</div>
<a id="details" name="details"></a>
<div id="applications-thumbs" class="standard-box center">
	<h1>{applications.appsheadline}</h1>
	<div class="applications-intro">
		<f:if condition="{products.appdescription}">
			<f:then>
				<f:format.raw>{products.appdescription}</f:format.raw>
			</f:then>
			<f:else>
				<f:format.raw>{applications.description}</f:format.raw>
			</f:else>
		</f:if>
	</div>
	<hr class="divider" />
	<div class="application-list">
		<f:for each="{applications.products}" as="product">
			<span class="variation-item {product.active}">
				<f:link.action arguments="{appid: applications.uid}" additionalParams="{tx_rathgeberproducts_applications: {productid: product.uid }}" section="details">
					&gt;&gt; <f:format.raw>{product.name}</f:format.raw>
				</f:link.action>
			</span>
			<br />
		</f:for>
	</div>
	<div class="clear"></div>
</div>

<div class="csc-default">
	<h1><f:format.raw>{products.name}</f:format.raw></h1>
	<div id="products-single">
		<div class="single-intro">
			<f:format.raw>{products.description}</f:format.raw>
			<f:if condition="{variations}">
				<f:then>
					<div id="variations-container">
						{products.name}
						<f:translate key="LLL:EXT:rathgeber_products/Resources/Private/Language/locallang_fluid.xml:tx_rathgeberproducts_template.var" />
						<br />
						<f:for each="{variations}" as="variation" iteration="it">
							<span class="variation-item"> {variation.name}</span><f:if condition="{it.isLast} != 1"> /</f:if>
						</f:for>
						<div>&nbsp;</div>
					</div>
				</f:then>
			</f:if>
			<div class="detailview-links">
				<div class="first">
					<f:if condition="{settings.domain}==1">
						<f:then>
							<f:link.page pageUid="{settings.productpage_id}" additionalParams="{tx_rathgeberproducts_categories: {catid: catid.uid}}">
								&gt;&gt; 
								<f:translate key="LLL:EXT:rathgeber_products/Resources/Private/Language/locallang_fluid.xml:tx_rathgeberproducts_template.toproductgroup" />
							</f:link.page>
						</f:then>
						<f:else>
							<f:link.page pageUid="{settings.detailpage_id}" additionalParams="{tx_rathgeberproducts_products: {productid: products.uid }}">
								&gt;&gt; 
								<f:translate key="LLL:EXT:rathgeber_products/Resources/Private/Language/locallang_fluid.xml:tx_rathgeberproducts_template.toproduct" />
							</f:link.page>
						</f:else>
					</f:if>
				</div>
				<div class="second">
					<span class="merkzettel-add" data-value="{applications.name}|{products.name}">
						<f:translate key="LLL:EXT:rathgeber_products/Resources/Private/Language/locallang_fluid.xml:tx_rathgeberproducts_template.notepad" />
					</span>
					<span class="arrow merkzettel-arrow">&nbsp;</span>
				</div>				
				<div class="third">
					<f:link.page pageUid="{settings.formpage_id}">
						<div class="produktanfrage-button" data-value="{applications.name}|{products.name}"><f:translate key="LLL:EXT:rathgeber_products/Resources/Private/Language/locallang_fluid.xml:tx_rathgeberproducts_template.productreq" /><div class="arrow-white"></div></div>
					</f:link.page >
				</div>	
				<div class="clear"></div>			
			</div>
		</div>
		
		<div id="single-tech_1" class="box-closed">
			<h1 class="inner-headline">
			<f:translate key="LLL:EXT:rathgeber_products/Resources/Private/Language/locallang_fluid.xml:tx_rathgeberproducts_template.techspec" />
			</h1>
			
			<div class="box-content">
				<div class="single-tech-content">
					<f:for each="{properties}" as="property" iteration="it1">
						<f:if condition="{it1.index} == {properties_split_count}">
							</div>
							<div class="single-tech-content">
						</f:if>
                                <div class="attribute-item">
							<strong><f:translate key="LLL:EXT:rathgeber_products/Resources/Private/Language/locallang_fluid.xml:tx_rathgeberproducts_template.{property.propertyname}" />:</strong>
							<f:for each="{property.propertyvalue}" as="value" iteration="it">
								 {value.name}<f:if condition="{it.isLast} != 1">,</f:if>
							</f:for>
						</div>
                                </f:for>
				</div>
				<div class="clear"></div>
			</div>
			<div class="box-button"></div>
		</div>
		
		<f:if condition="{products.verarbeitung}">
			<div id="single-tech_3" class="box-closed">
				<h1 class="inner-headline">
				<f:translate key="LLL:EXT:rathgeber_products/Resources/Private/Language/locallang_fluid.xml:tx_rathgeberproducts_template.verarbeitung" />
				</h1>
				<div class="box-content">
					<div id="single-tech_3-content" class="fluffy">
						<f:format.raw>
							{products.verarbeitung}
						</f:format.raw>
					</div>
				</div>
				<div class="box-button"></div>
			</div>
		</f:if>
		
		<f:if condition="{downloads}">		
			<div id="single-downloads" class="box-closed">
				<h1 class="inner-headline">
				<f:translate key="LLL:EXT:rathgeber_products/Resources/Private/Language/locallang_fluid.xml:tx_rathgeberproducts_template.downloads" />
				</h1>
				<div class="box-content">
					<div class="single-download-inner">
						<f:for each="{downloads}" as="download">
							<div class="download-line" >
								<div class="pdf-icon"></div>
									<f:if condition="{settings.domain}==0">
										<f:translate key="LLL:EXT:rathgeber_products/Resources/Private/Language/locallang_fluid.xml:tx_rathgeberproducts_template.prodsheet" />
										<strong>{download.name}</strong> <f:translate key="LLL:EXT:rathgeber_products/Resources/Private/Language/locallang_fluid.xml:tx_rathgeberproducts_template.for" />
									</f:if>
									<f:if condition="{settings.domain}==1">{download.name}</f:if>
									<f:if condition="{products.uid}==21"><f:if condition="{language_id}==3"><br /></f:if></f:if>
									<f:if condition="{products.uid}==26"><f:if condition="{language_id}==3"><br /></f:if></f:if>
									<f:if condition="{products.uid}==28"><f:if condition="{language_id}==3"><br /></f:if></f:if>
									<f:if condition="{download.type}==0"><f:then><a href="http://www.rathgeber.eu/{download.file}&attachment=1&filename={download.name}.pdf&no_cache=1&lang={language_id}{no_variant_language_id}" target="_blank"></f:then><f:else>
									<a href="{download.file}" target="_blank"></f:else></f:if>&gt;&gt; <f:translate key="LLL:EXT:rathgeber_products/Resources/Private/Language/locallang_fluid.xml:tx_rathgeberproducts_template.download" /></a>

                                <br />
							</div>
		
						</f:for>
					</div>
				</div>
				<div class="box-button"></div>
			</div>
		</f:if>
	</div>
	<div class="clear"></div>
